<div class="search-box">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Search book by title</mat-label>
    <input matInput (change)="onChange($event.target.value)" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="submit-btn"
    (click)="onSearch()"
  >
    Search
  </button>

  <!-- <button mat-raised-button color="primary" (click)="delBook($event.target.value)">
    <mat-icon>Delete</mat-icon>
    Delete
  </button> -->
</div>


<!-- <input [placeholder]='title' (change)="onChange($event.target.value)" />
<button (click)="onSearch()">Search</button> -->
